/*
    .           .
   /)           (\
  )  \ /\___/\ /  (
   )   (o^—^o)   (
  )  /  (… …)  \  (
   \)           (/
    °           ° SL
 
*/

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gilda+Display&display=swap');


:root {
    /* fonts */
    --heading-font: 'gilda display', georgia, serif;
    --sub-heading-font: 'barlow condensed', arial, sans-serif;
    --text-font: 'barlow', arial, sans-serif;

    /* colors */
    --ghastly-pale: rgb(255, 255, 255, 1);
    --ghastly-pale-10: rgb(255, 235, 209, .1);
    --ghastly-pale-60: rgb(255, 235, 209, .6);
    --bloody-black: #180100;
    --bloody-black-40: rgba(0, 0, 0, .4);
    --scarlet-red: rgba(146, 44, 13, 1);
    --scarlet-red-80: rgba(146, 44, 13, 0.8);
    --scarlet-red-20: rgba(146, 44, 13, 0.2);
    --deep-burgundy: rgb(74, 15, 13);
    --batwing-blue: #000A11;
    --pale-batwing-blue: #376377;
    --pale-batwing-blue-50: rgba(55, 99, 119, .5);

    /* spacing */
    --inner-padding: 2.4rem;
    --article-padding: 9.6rem;
    --gap: 2.4rem;
}

/*** global styling ***/

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    background: var(--bloody-black);
    color: var(--ghastly-pale);
    font: 300 2rem var(--text-font);
    opacity: 0;
    transition: opacity 1s;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font: 4.8rem var(--heading-font);
    margin-bottom: calc(var(--gap) * 2);
}
h3 {
    font: 2rem var(--sub-heading-font);
    text-transform: uppercase;
    color: var(--scarlet-red);
    margin: 0 0 var(--gap);
}
h4 {
    font: 1.6rem var(--heading-font);
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.inner-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--inner-padding);
}

a.cta,
[type=submit].cta {
    border: 1px solid var(--ghastly-pale);
    background: transparent;
    font: 200 1.6rem var(--sub-heading-font);
    text-transform: uppercase;
    letter-spacing: .6rem;
    padding: 12px 24px;
    text-decoration: none;
    color: var(--ghastly-pale);
    display: inline-block;
}
a.cta {
    margin-top: var(--gap);
    transition: 1s;
}
a.cta:hover {
    border-color: var(--scarlet-red);
    background: var(--scarlet-red-20);
    transition: .3s;
}

/*** nav ***/

nav#menu,
nav#foot-menu {
    background: var(--batwing-blue);
    color: var(--pale-batwing-blue);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: calc(var(--gap) * 2);
    font: .85em var(--heading-font);
}
nav#menu { 
    opacity: 0; /* initialt tills man klickar på meny-knappen */
    visibility: hidden;
    width: 100vw;
    max-height: 0;
    transition: 1s ease-in-out;
}
nav#menu.show { 
    opacity: 1;
    visibility: visible;
    max-height: 10rem;
    transition: 1s ease-in-out; 
    padding: var(--inner-padding);
}
nav#foot-menu {
    padding: var(--inner-padding); 
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: .15rem;
    font-size: .75em;
}
nav a {
    transition: 1s;
}
nav a:hover {
    color: var(--ghastly-pale);
}

/*** header ***/

header {
    background: var(--bloody-black);
    color: var(--ghastly-pale);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: var(--inner-padding) var(--inner-padding) var(--article-padding);
}
header .cta {
    margin-top: -1.2rem;
    background: var(--scarlet-red-80);
    border: none;
}
header #top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 0;
}
header #top div {
    width: 33%;
}
header #top #logo {
    text-align: left;
}
header #top #brand {
    text-align: center;
}
header #top #brand p {
    font: 200 2rem var(--sub-heading-font);
    text-transform: uppercase;
    letter-spacing: .6rem;
    margin-bottom: var(--inner-padding);
}
header #top #nav {
    text-align: right;
    cursor: pointer;
}
header .hero {
    width: 100%;
    text-align: center;
}
header .hero h1 {
    font: normal 9.5rem var(--heading-font);
    text-transform: uppercase;
    letter-spacing: 1.2rem;
    text-shadow: 1px 1px 2px var(--bloody-black-40);
    transition: 4s ease-in-out;
    opacity: 0;
}
header .hero h1:first-line {
    font-size: 6.4rem;
}
header .hero h1.active {
    transition: 4s ease-in-out;
    opacity: 1;
}
header .hero img {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: saturate(1.7);
}
header .hero img.active {
    opacity: .4;
}
header .hero h1,
header .hero h1.active,
header .hero img, 
header .hero img.active {
    transition: 2s ease-in-out;
}
header #hero-exp h1 {
    opacity: 1;
}
header #hero-exp img {
    opacity: .4;
}
header #top, 
header .cta, 
header h1 {
    position: relative;
    z-index: 3;
}

/*** main ***/

main p {
        color: var(--ghastly-pale-60);
        margin-bottom: var(--gap);
        line-height: 3.6rem;
}
main article {
        padding: var(--article-padding) 0;
        position: relative;
}
main article .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}
main article .grid section {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-content: center;
        position: relative;
}
main article .grid section h2, 
main article .grid section h3, 
main article .grid section p {
    grid-column: 1 / 6;
}
main article .grid img {    
    box-shadow: 0 0 10rem var(--ghastly-pale-10);
    border: 1px solid var(--ghastly-pale-10);
    transition: 2s;
}  
main article .grid img:hover {
    transform: scale(1.1);
    transition: 1s;
}
main article .grid section img {
    object-fit: cover;
    aspect-ratio: 7 / 9;
    width: 100%;
    height: auto;
}
main article .grid section img:nth-of-type(1) {
    grid-column: -1 / -4;
    position: absolute;
    top: 0;
}
main article .grid section img:nth-of-type(2) {
    grid-column: 2 / 5;
    position: relative;
    top: 10rem;
}
main article .grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    text-align: center;
}
main article.basic:nth-of-type(even) .grid section {
    order: 2;
}
main article.basic:nth-of-type(even) .grid section h2, 
main article.basic:nth-of-type(even) .grid section h3, 
main article.basic:nth-of-type(even) .grid section p {
    grid-column: 2 / 7;
}
main article .flex {
    display: flex;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - calc(var(--article-padding) * 2));
}
main article .flex section {
    position: static;
    z-index: 2;
    text-align: center;
    max-width: 80rem;
}
main article .flex img.bg {
    position: absolute;
    top: 0; right: 0;
    left: 0; bottom: 0;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    opacity: .4;
    z-index: 1;
}
main article#treats .flex img.bg { 
    object-position: bottom; 
}
main article#gym .flex img.bg { 
    object-position: top;
}
main article#book-now {
    background: black;
    padding-top: 0;
    background: 
    linear-gradient(0deg, 
    rgba(255,255,255,0) 50%, 
    rgba(0,0,0,1) 100%);
}
main article#book-now .inner-wrapper,
main article#book-now .inner-wrapper article {
    padding: 0;
}
main article#book-now form {
    margin-top: var(--article-padding);
}
main article#book-now .flex {
    min-height: auto;
}
main article#book-now img.bg {
    max-height: 100vh;
    z-index: 0;
    margin: 0 auto;
    object-fit: contain;
    position: relative;
    opacity: .6;
}
main article#reviews {
    padding: 0;
    margin-top: -10rem;
    position: relative;
    z-index: 10;
    font-size: .85em;
}
main article#reviews section {
    background: var(--deep-burgundy);
    padding: 24px;
    text-align: left;
    box-shadow: 0 0 10rem var(--bloody-black-40);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main article#reviews section p:first-child, strong {
    color: var(--scarlet-red);
}

main article#reviews section img {
    border-radius: 50%;
    object-fit: cover;
    width: 64px;
    height: 64px;
    margin: 24px 0 16px;
}
main article#reviews section img, 
main article#reviews section strong {
    display: block;
}
main article.basic + article.basic {
    padding-top: 0;
}

/*** footer ***/

footer {
    color: var(--pale-batwing-blue);
    background-color: var(--batwing-blue);
}
footer p {
    font-size: .9em;
    line-height: 1.6em;
}
footer section {
    padding: var(--inner-padding);
}
footer section#features {
    position: relative;
    color: var(--ghastly-pale-60);
    padding: var(--article-padding) var(--inner-padding);
}
footer section#features .grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--article-padding);
    text-align: center;
}
footer section#features .grid-3 article {
    position: static;
    z-index: 2;
}
footer section#features .grid-3 article h3 {
    color: var(--ghastly-pale);
    margin-bottom: var(--gap);
}
footer section#features .grid-3 article img {
    padding-bottom: var(--gap);
    grid-column: span 6;
}
footer section#features .grid-3 article:nth-of-type(4) {
    grid-column: span 3;
}
footer section#features .grid-3 img.bg {
    position: absolute;
    top: 0; right: 0;
    left: 0; bottom: 0;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    opacity: .3;
    z-index: 1;
}
footer section:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer section:nth-of-type(2) a {
    transition: 1s;
}
footer section:nth-of-type(2) a:hover {
    color: var(--scarlet-red);
    text-shadow: 0 0 10px var(--scarlet-red);
}

/*** calendars ***/

table {
    border: .15rem solid var(--pale-batwing-blue);
    background: var(--batwing-blue);
    table-layout: fixed;
    margin-bottom: var(--gap);
    border-collapse: collapse;
    width: 100%;
    color: var(--ghastly-pale-60);
}
table th,
table td {
    padding: 1.6rem 0;
    font-size: .8em;
    border: 1px solid var(--ghastly-pale-10);
}
table thead th {
    background-color:  var(--pale-batwing-blue-50);
}
.booked {
    background: url('../assets/images/icons/booked.svg') center no-repeat;
    background-size: 100%;
}
.available {
    /* color: var(--ghastly-pale); */
}

/*** booking form ***/

form {
    color: var(--ghastly-pale-60);
    padding: calc(var(--inner-padding) * 2);
    border: 10px double var(--ghastly-pale-10);
    background: var(--ghastly-pale-10);
}
form section {
    padding: var(--inner-padding) 0;
}
form section:nth-of-type(1) {
    padding-top: 0;
}
form section:nth-of-type(1),
form section:nth-of-type(5) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap);
}
form label {
    display: inline-block;
    padding-bottom: 1rem;
}
form label.room,
form label.feature {
    display: grid;
    grid-template-columns: auto 25rem 1fr 10rem;
    cursor: pointer;
}
form label span + span + span {
        text-align: right;
}
form input[type=radio]:checked ~ span,
form input[type=checkbox]:checked ~ span {
    color: var(--ghastly-pale);
}
form input {
    background: var(--ghastly-pale-10);
    color: var(--ghastly-pale);
    font: inherit;
    border: none;
    padding: 1.1rem 1.2rem;
}
form input[type=date],
form input[type=text] {
    padding: 1rem 1.2rem;
    width: 100%;
}
form input[type=radio],
form input[type=checkbox] {
    width: auto;
    padding: 0;
    margin-right: 2rem;
}
form .error {
    display: grid;
    gap: var(--gap);
    margin-bottom: calc(var(--gap) * 2);
}
form .error p {
    align-self: end;
    border: 1px solid var(--scarlet-red);
    background: var(--scarlet-red-20);
    color: var(--scarlet-red);
    padding: var(--inner-padding);
    font-weight: bold;
    margin: 0;
}